.Footer {
    background: #40a2cf;
    display:flex;
    z-index: 9;
    position: relative;
    transition: 100ms ease-in-out 100ms;
    height: 3em;
    border-top: 1px solid #378eb6;
    border-bottom: 6px solid #3d9ac5;
    box-shadow: 0 0 3px #3a92bb;
    display: flex;
    justify-content: center;    
  }
.dFooter {
    background: #3881b4;
    display:flex;
    z-index: 9;
    position: relative;
    transition: 100ms ease-in-out 100ms;
    height: 3em;
    border-top: 1px solid #3477a7;
    border-bottom: 6px solid #3881b4;
    box-shadow: 0 0 3px #2d6892;
    display: flex;
    justify-content: center;    
  }
  .FooterYellow{
    background:#856d01;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #7e6700;
    border-bottom: 6px solid #856d01;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterBlue{
    background:#01168d;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #011480;
    border-bottom: 6px solid #01168d;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterLightGreen{
    background:#046900;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #046100;
    border-bottom: 6px solid #046900;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterYellowExpress{
    background:#6e6300;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #635901;
    border-bottom: 6px solid #6e6300;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterDarkGreen{
    background:#018f19;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #008316;
    border-bottom: 6px solid #018f19;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterBlueYellow{
    background:#c79c00;
    width:100%; 
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #bb9200;
    border-bottom: 6px solid #c79c00;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterDeepBlue{
    background:#080441;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #060333;
    border-bottom: 6px solid #080441;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .FooterOrange{
    background:#ce5b18;
    width:100%;
    height: 3em;
    z-index: 7;
    display: flex;
    border-top: 1px solid #d6611d;
    border-bottom: 6px solid #c75614;
      display: flex;
      justify-content: center;      
    box-shadow: 0 0 3px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  
  .Footertext{
    font-family: arial;
    text-align: center;
    font-weight:300;
    font-size:20px;
    align-self: center;
  }
  
  .FooterCopyright{
    color: #010327;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 100ms ease-in-out 100ms;
    font-weight: 300;
  }  
  .dFooterCopyright{
    color: #d8d8d8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 100ms ease-in-out 100ms;
    font-weight: 300;
  }

  
  @media screen and (max-width:552px) {
    .Footer {
      position: relative;
      bottom: 0px;
      background: #3272a0;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
    }
  .dFooter {
    position: relative;
      bottom: 0px;
      background: #010327;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(9, 0, 87);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #0731b1;
    }
    .FooterYellow{
      bottom: 0px;
      background:#856d01;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlue{
      bottom: 0px;
      background:#01168d;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterLightGreen{
      bottom: 0px;
      background:#046900;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterYellowExpress{
      bottom: 0px;
      background:#6e6300;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDarkGreen{
      bottom: 0px;
      background:#018f19;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlueYellow{
      bottom: 0px;
      background:#c79c00;
      width:100%; 
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDeepBlue{
      bottom: 0px;
      background:#080441;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .Footertext{
      font-family: arial;
      text-align: left;
      position: relative;
      bottom: 10px;
      left: 15%;
      font-weight:lighter;
      font-size:17px;
    align-self: center;
    }  
    .FooterCopyright{
      color: #d8d8d8;
      font-family:'Times New Roman', Times, serif;
      transition: 100ms ease-in-out 100ms;
    }  
  }

  @media screen and (max-width:620px) and (min-width:552px) {
    .Footer {
      position: relative;
      bottom: 0px;
      background: #3272a0;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
    }
  .dFooter {
    position: relative;
      bottom: 0px;
      background: #010327;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(9, 0, 87);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #0731b1;
    }
    .FooterYellow{
      bottom: 0px;
      background:#856d01;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlue{
      bottom: 0px;
      background:#01168d;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterLightGreen{
      bottom: 0px;
      background:#046900;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterYellowExpress{
      bottom: 0px;
      background:#6e6300;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDarkGreen{
      bottom: 0px;
      background:#018f19;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlueYellow{
      bottom: 0px;
      background:#c79c00;
      width:100%; 
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDeepBlue{
      bottom: 0px;
      background:#080441;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .Footertext{
      font-family: arial;
      text-align: left;
      position: relative;
      bottom: 10px;
      left: 20%;
      font-weight:lighter;
      font-size:17px;
    align-self: center;
    }  
    .FooterCopyright{
      color: #d8d8d8;
      font-family:'Times New Roman', Times, serif;
      transition: 100ms ease-in-out 100ms;
    }  
  }
  @media screen and (max-width:800px) and (min-width:620px) {
    .Footer {
      position: relative;
      bottom: 0px;
      background: #3272a0;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
    }
  .dFooter {
    position: relative;
      bottom: 0px;
      background: #010327;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(9, 0, 87);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #0731b1;
    }
    .FooterYellow{
      bottom: 0px;
      background:#856d01;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlue{
      bottom: 0px;
      background:#01168d;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterLightGreen{
      bottom: 0px;
      background:#046900;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterYellowExpress{
      bottom: 0px;
      background:#6e6300;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDarkGreen{
      bottom: 0px;
      background:#018f19;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlueYellow{
      bottom: 0px;
      background:#c79c00;
      width:100%; 
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDeepBlue{
      bottom: 0px;
      background:#080441;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .Footertext{
      font-family: arial;
      text-align: left;
      position: relative;
      bottom: 10px;
      left: 25%;
      font-weight:lighter;
      font-size:17px;
    align-self: center;
    }  
    .FooterCopyright{
      color: #d8d8d8;
      font-family:'Times New Roman', Times, serif;
      transition: 100ms ease-in-out 100ms;
    }
  }
  @media screen and (max-width:992px) and (min-width:800px) {
    .Footer {
      position: relative;
      background: #3272a0;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      bottom: 0px;
    }
  .dFooter {
    position: relative;
      background: #010327;
      display:flex;

      z-index: 9;
      position: relative;
      transition: 100ms ease-in-out 100ms;
      height: 3em;
      border-top: 1px solid rgb(9, 0, 87);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #0731b1;
      bottom: 0px;
    }
    .FooterYellow{
      bottom: 0px;
      background:#856d01;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlue{
      bottom: 0px;
      background:#01168d;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterLightGreen{
      bottom: 0px;
      background:#046900;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterYellowExpress{
      bottom: 0px;
      background:#6e6300;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDarkGreen{
      bottom: 0px;
      background:#018f19;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterBlueYellow{
      bottom: 0px;
      background:#c79c00;
      width:100%; 
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .FooterDeepBlue{
      bottom: 0px;
      background:#080441;
      width:100%;
      height: 3em;
      z-index: 7;
      display: flex;
      border-top: 1px solid rgb(3, 0, 156);
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3px #010921;
      transition: 100ms ease-in-out 100ms;
    }
    .Footertext{
      font-family: arial;
      text-align: left;
      position: relative;
      bottom: 15px;
      left: 28%;
      font-weight:lighter;
      font-size:20px;
    align-self: center;
    }  
    .FooterCopyright{
      color: #d8d8d8;
      font-family:'Times New Roman', Times, serif;
      transition: 100ms ease-in-out 100ms;
    }
  }