@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900');
@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@300');

.Header {
  height: 60px;
  width: 98%;
  z-index: 9;
  position: fixed;
  backdrop-filter: blur(15px);
  align-items: center;
  justify-content: center;
  justify-self: center;
  }
.Topbar{
  background:#FAFAFCae;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.925);
  box-shadow: 0 0 2px #f1f1f3;
  transition: 150ms ease-in-out 0ms;
  border-radius: 10px;
  margin-top: 3px;
}
.dTopbar{
  background:#050b1aae;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.137);
  box-shadow: 0 0px 2px rgba(128, 31, 255, 0.386);
  transition: 150ms ease-in-out 0ms;
  border-radius: 10px;
  margin-top: 3px;
}
.applogo{
  display: flex;
  align-items: center;
  width: 200px;
}
 .logoimg{
  height: 43.5px;
  pointer-events: none;
}
.headtxt{
  width: 150px;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  transition: 100ms ease-in-out 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.dheadtxt{
  color: #d8d8d8;
}
.lheadtxt{
  color: #191919;
}
.listicle{
  width: 35%;
  font-weight: 300;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linklist1{
  background-color: transparent;
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.linklist2{
  background-color: transparent;
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.linklist3{
  background-color: transparent;
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.linklist4{
  background-color: transparent;
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.linklist5{
  background-color: transparent;
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.linklght:hover{
  background: linear-gradient(25deg, #d277ff 0%, #8563ff 50%, #5846ff 100%);
  box-shadow: 0 3px 20px rgba(226, 118, 250, 0.666);
}
.linkdrk:hover{
  background: linear-gradient(25deg, #5d31ff 0%, #8929ff 50%, #9b06ec 100%);
  box-shadow: 0 4px 20px rgba(108, 63, 245, 0.386);
}
.linkbtn{
  color: #191919;
}
.linklght:hover .linkbtn{
  color: #F9F9F9;
}
.dlinkbtn{
  color: #d8d8d8;
}
.lightndark{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contlght{
  background: linear-gradient(25deg, #c552ff 0%, #724bff 50%, #3c26ff 100%);
  box-shadow: 0 4px 20px rgba(226, 118, 250, 0.386);
  transition: 150ms ease-in-out 0ms;
}
.contlght:hover{
  background: linear-gradient(25deg, #d277ff 0%, #8563ff 50%, #5846ff 100%);
  box-shadow: 0 6px 28px rgba(226, 118, 250, 0.666);
}
.contdrk{
  background: linear-gradient(25deg, #5d31ff 0%, #8929ff 50%, #9b06ec 100%);
  box-shadow: 0 4px 20px rgba(108, 63, 245, 0.386);
  transition: 150ms ease-in-out 0ms;
}
.contdrk:hover{
  background: linear-gradient(25deg, #693fff 0%, #943dff 50%, #a720f0 100%);
  box-shadow: 0 6px 28px rgba(108, 63, 245, 0.558);
}
.talk{
  color: #F9F9F9;
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.contlght:hover .talk{
  color: #F9F9F9;
}
.dtalk{
  color: #F9F9F9;
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.btnarrow{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.talkbtn{
  animation: slideopennav 175ms linear 0ms 1;
  text-decoration: none;
  cursor: pointer;
  width: 110px;
  height: 40px;
  border-radius: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out 0ms;
}
.lightbtn{
  background-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 150ms ease-in-out 0ms;
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.darkbtn{
  background-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 150ms ease-in-out 0ms;
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.lightimg{
  height:20px;
  transition: 150ms ease-in-out 0ms;
  background-color: transparent;
  filter: brightness(0) invert(1);
  opacity: 0.65;
}
.darkimg{
  height:20px;
  transition: 150ms ease-in-out 0ms;
  background-color: transparent;
  filter: brightness(0);
  opacity: 0.65;
}
.lightimg:hover{
  filter: brightness(0) invert(1);
  opacity: 1;
  box-shadow: 0 4px 20px rgba(241, 240, 241, 0.386);
}
.darkimg:hover{
  filter: brightness(0);
  opacity: 1;
  box-shadow: 0 4px 20px rgba(241, 240, 241, 0.386);
}

@keyframes fadein {
  from{
    display: none;
  }
  to{
    display: contents;
  }
}
@keyframes slideinnav {
  from{
      background-color: transparent;
      width: 0em;
  }
  to{
      background-color: rgba(255, 109, 111, 0.8);
      width: inherit;
  }
}
@keyframes slideopennav {
  0%{
      opacity: 0;
  }
  40%{
    opacity: 0;
    margin-left: -40px;
  }
  100%{
    opacity: 1;
  }
}


/* Haven't worked on code past this line */



.smallHead{
    backdrop-filter: blur(10px);
  display: none;
}

.TopbarYellow{
  background:#ddcf0a;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarBlue{
  background:#0876e4;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarLightGreen{
  background:#4fce06;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarYellowExpress{
  background:#ecde11;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarDarkGreen{
  background:#48ce0a;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarBlueYellow{
  background:#0122b1;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarDeepBlue{
  background:#0d02a7;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid rgb(3, 0, 156);
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}
.TopbarOrange{
  background:#ff7539;
  width:100%;
  height: 100%;
  z-index: 7;
  display: flex;
  border-bottom: 0px solid #fc7338;
  box-shadow: 0 0 1px #010921;
  transition: 100ms ease-in-out 100ms;
}


@media screen and (max-width:552px) {
  .Header {
    display: none;
  }
  .dHeader {
    display: none;
  }
  .smallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
  }
  .dsmallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
    margin-bottom: 0px;
  }
  .lightndark{
    position: relative;
    left: 50%;
    top: 8px;
    cursor: pointer;
  }
  .lightbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinleft 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .lightimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
  }
  .darkbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinright 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .darkimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    background-color: #e9e9e9;
    border-radius: 30px;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    box-shadow: 0 0 1px #e9e9e9, 0 0 10px #e9e9e9, 0 0 15px #adb9ff, 0 0 20px #adb9ff;
  }  
  .App-logo2{
    height: 35px;
    pointer-events: none;
    position: relative;
    top: 8px;
    left: 5px;
  }
  .smallTopbar{
    background:#3272a0;
    width:100%;
    box-shadow: 0 0 8px #010921;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgba(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallTopbar{
    background:#010327;
    width:100%;
    box-shadow: 0 0 8px #0731b1;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .smallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:30%;
    color: #d8d8d8;
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:30%;
    color: #c1ccff;
    transition: 100ms ease-in-out 100ms;
  }
  .smallNavbar{    
    background: #4890c4d7;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border: 2px solid #2a5e83;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dsmallNavbar{    
    background:#00022bf5;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border-right: 3px solid #000546;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .smalllinksclosed .smallNavbar{
    background:transparent;
    display: none;
  }
  .smalllinksclosed .dsmallNavbar{
    background:transparent;
    display: none;
  }
  .menubtn{
    height: 2.2em;
    width: 2.5em;
    background-color: #969bf777;
    border-radius:5px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
.headbtnline{
  font-weight: 500;
  color: rgb(20, 20, 20);
}
.headbtnlineone{
  font-size: 40px;
  margin-top:-11px;
  margin-left: -2px;
}
.smalllinklist{
  animation: slideopennav 175ms linear 0ms 1;
  height:2.5em;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  text-decoration: none;
  position: relative;
  left: 20px;
  margin-bottom: 10px; 
  margin-left: 20px;
  text-align: right;
  width: 90%;
}
.smallNavbar .smalllinklist:focus{
  color: #9c92f8;
  background-color:#7d68f7;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.dsmallNavbar .smalllinklist:focus{
  color: #3f49ff;
  background-color:rgba(39, 49, 255, 0.918);
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.home{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.proj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.about{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.cont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.dhome{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dproj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dabout{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dcont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
}
@media screen and (max-width:650px)  and (min-width:552px) {
  .Header {
    display: none;
  }
  .dHeader {
    display: none;
  }
  .smallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
  }
  .dsmallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
    margin-bottom: 0px;
  }
  .lightndark{
    position: relative;
    left: 57%;
    top: 8px;
    cursor: pointer;
  }
  .lightbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinleft 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .lightimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
  }
  .darkbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinright 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .darkimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    background-color: #e9e9e9;
    border-radius: 30px;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    box-shadow: 0 0 1px #e9e9e9, 0 0 10px #e9e9e9, 0 0 15px #adb9ff, 0 0 20px #adb9ff;
  }  
  .App-logo2{
    height: 35px;
    pointer-events: none;
    position: relative;
    top: 8px;
    left: 5px;
  }
  .smallTopbar{
    background:#3272a0;
    width:100%;
    box-shadow: 0 0 8px #010921;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgba(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallTopbar{
    background:#010327;
    width:100%;
    box-shadow: 0 0 8px #0731b1;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .smallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:30%;
    color: #d8d8d8;
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:30%;
    color: #c1ccff;
    transition: 100ms ease-in-out 100ms;
  }
  .smallNavbar{    
    background: #4890c4d7;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border: 2px solid #2a5e83;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dsmallNavbar{    
    background:#00022e;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border-right: 3px solid #000546;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .smalllinksclosed .smallNavbar{
    background:transparent;
    display: none;
  }
  .smalllinksclosed .dsmallNavbar{
    background:transparent;
    display: none;
  }
  .menubtn{
    height: 2.2em;
    width: 2.5em;
    background-color: #969bf777;
    border-radius:5px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
.headbtnline{
  font-weight: 500;
  color: rgb(20, 20, 20);
}
.headbtnlineone{
  font-size: 40px;
  margin-top:-11px;
  margin-left: -2px;
}
.smalllinklist{
  animation: slideopennav 175ms linear 0ms 1;
  height:2.5em;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  left: 20px;
  margin-bottom: 10px; 
  margin-left: 20px;
  text-align: right;
  width: 90%;
}
.smallNavbar .smalllinklist:focus{
  color: #9c92f8;
  background-color:#7d68f7;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.dsmallNavbar .smalllinklist:focus{
  color: #3f49ff;
  background-color:rgba(39, 49, 255, 0.918);
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.home{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.proj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.about{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.cont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.dhome{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dproj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dabout{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dcont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
}
@media screen and (max-width:720px) and (min-width:650px) {
  .Header {
    display: none;
  }
  .dHeader {
    display: none;
  }
  .smallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
  }
  .dsmallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
    margin-bottom: 0px;
  }
  .lightndark{
    position: relative;
    left: 60%;
    top: 8px;
    cursor: pointer;
  }
  .lightbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinleft 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .lightimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
  }
  .darkbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinright 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .darkimg{
    height: 4vmin;
    pointer-events: none;
    position: relative;
    background-color: #e9e9e9;
    border-radius: 30px;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    box-shadow: 0 0 1px #e9e9e9, 0 0 10px #e9e9e9, 0 0 15px #adb9ff, 0 0 20px #adb9ff;
  }  
  .App-logo2{
    height: 35px;
    pointer-events: none;
    position: relative;
    top: 8px;
    left: 5px;
  }
  .smallTopbar{
    background:#3272a0;
    width:100%;
    box-shadow: 0 0 8px #010921;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgba(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallTopbar{
    background:#010327;
    width:100%;
    box-shadow: 0 0 8px #0731b1;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .smallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:33%;
    color: #d8d8d8;
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:33%;
    color: #c1ccff;
    transition: 100ms ease-in-out 100ms;
  }
  .smallNavbar{    
    background: #4890c4d7;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border: 2px solid #2a5e83;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dsmallNavbar{    
    background:#00022e;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border-right: 3px solid #000546;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .smalllinksclosed .smallNavbar{
    background:transparent;
    display: none;
  }
  .smalllinksclosed .dsmallNavbar{
    background:transparent;
    display: none;
  }
  .menubtn{
    height: 2.2em;
    width: 2.5em;
    background-color: #969bf777;
    border-radius:5px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
.headbtnline{
  font-weight: 500;
  color: rgb(20, 20, 20);
}
.headbtnlineone{
  font-size: 40px;
  margin-top:-11px;
  margin-left: -2px;
}
.smalllinklist{
  animation: slideopennav 175ms linear 0ms 1;
  height:2.5em;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  left: 20px;
  margin-bottom: 10px; 
  margin-left: 20px;
  text-align: right;
  width: 90%;
}
.smallNavbar .smalllinklist:focus{
  color: #9c92f8;
  background-color:#7d68f7;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.dsmallNavbar .smalllinklist:focus{
  color: #3f49ff;
  background-color:rgba(39, 49, 255, 0.918);
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.home{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.proj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.about{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.cont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.dhome{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dproj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dabout{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dcont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
}
@media screen and (max-width:840px) and (min-width:720px) {
  .Header {
    display: none;
  }
  .dHeader {
    display: none;
  }
  .smallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
  }
  .dsmallHead{
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    display: block;
    margin-bottom: 0px;
  }
  .lightndark{
    position: relative;
    left: 65%;
    top: 8px;
    cursor: pointer;
  }
  .lightbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinleft 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .lightimg{
    height: 5vmin;
    pointer-events: none;
    position: relative;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
  }
  .darkbtn{
    height: 35px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
    position:relative;
    right: 10%;
    bottom: 1px;
    animation: spinright 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    border: none;
  }
  .darkimg{
    height: 4vmin;
    pointer-events: none;
    position: relative;
    background-color: #e9e9e9;
    border-radius: 30px;
    right:0px;
    top: 1px;
    animation: fadein 100ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
    box-shadow: 0 0 1px #e9e9e9, 0 0 10px #e9e9e9, 0 0 15px #adb9ff, 0 0 20px #adb9ff;
  }  
  .App-logo2{
    height: 35px;
    pointer-events: none;
    position: relative;
    top: 8px;
    left: 5px;
  }
  .smallTopbar{
    background:#3272a0;
    width:100%;
    box-shadow: 0 0 8px #010921;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgba(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallTopbar{
    background:#010327;
    width:100%;
    box-shadow: 0 0 8px #0731b1;    
    height: 3em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(155, 155, 155, 0.322);
    transition: 100ms ease-in-out 100ms;
  }
  .smallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:36%;
    color: #d8d8d8;
    transition: 100ms ease-in-out 100ms;
  }
  .dsmallheadbtnlinetwo{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    bottom:10px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    left:36%;
    color: #c1ccff;
    transition: 100ms ease-in-out 100ms;
  }
  .smallNavbar{    
    background: #4890c4d7;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border: 2px solid #2a5e83;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dsmallNavbar{    
    background:#00022e;
    width: 9em;
    height: 45em;     
    z-index: 8;
    animation: slideinnav 100ms linear 0ms 1, slideopennav 175ms linear 0ms 1;
    transition: 100ms ease-in-out 100ms;  
    border-right: 3px solid #000546;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    position: absolute; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .smalllinksclosed .smallNavbar{
    background:transparent;
    display: none;
  }
  .smalllinksclosed .dsmallNavbar{
    background:transparent;
    display: none;
  }
  .menubtn{
    height: 2.2em;
    width: 2.5em;
    background-color: #969bf777;
    border-radius:5px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
.headbtnline{
  font-weight: 500;
  color: rgb(20, 20, 20);
}
.headbtnlineone{
  font-size: 40px;
  margin-top:-11px;
  margin-left: -2px;
}
.smalllinklist{
  animation: slideopennav 175ms linear 0ms 1;
  height:2.5em;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  left: 20px;
  margin-bottom: 10px; 
  margin-left: 20px;
  text-align: right;
  width: 90%;
}
.smallNavbar .smalllinklist:focus{
  color: #9c92f8;
  background-color:#7d68f7;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.dsmallNavbar .smalllinklist:focus{
  color: #3f49ff;
  background-color:rgba(39, 49, 255, 0.918);
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0px;
  cursor: pointer;
}
.home{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.proj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.about{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.cont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #d8d8d8;
}
.dhome{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dproj{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dabout{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
.dcont{
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  transition: 100ms ease-in-out 100ms;
  position: relative;
  top: 20px;
  left: -40px;
  color: #c1ccff;
}
}
@media screen and (max-width:992px) and (min-width:840px) {
  .Topbar{
    background:#3272a0;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .dTopbar{
    background:#010327;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(9, 0, 87);
    box-shadow: 0 0 1px #0731b1;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarYellow{
    background:#ddcf0a;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarBlue{
    background:#0876e4;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarLightGreen{
    background:#4fce06;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarYellowExpress{
    background:#ecde11;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarDarkGreen{
    background:#48ce0a;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarBlueYellow{
    background:#0122b1;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .TopbarDeepBlue{
    background:#0d02a7;
    width:100%;
    height: 4em;
    z-index: 7;
    display: flex;
    border-bottom: 0px solid rgb(3, 0, 156);
    box-shadow: 0 0 1px #010921;
    transition: 100ms ease-in-out 100ms;
  }
  .linklist1{
    color: black;
    animation: slideopennav 175ms linear 0ms 1;
    height:2.5em;
    font-size: 17px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 60px;
  }
  .home{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 10px;
    color: #d8d8d8;
  }
  .dhome{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 10px;
    color: #c1ccff;
  }
  .linklist2{
    color: black;
    animation: slideopennav 175ms linear 0ms 1;
    height:2.5em;
    font-size: 17px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 100px;
  }
  .linklist3{
    color: black;
    animation: slideopennav 175ms linear 0ms 1;
    height:2.5em;
    font-size: 17px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 130px;
  }
  .linklist5{
    color: black;
    animation: slideopennav 175ms linear 0ms 1;
    height:2.5em;
    font-size: 17px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 190px;
  }
  .proj{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 40px;
    color: #d8d8d8;
  }
  .about{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 40px;
    color: #d8d8d8;
  }
  .cont{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 60px;
    color: #d8d8d8;
  }
  .dproj{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 40px;
    color: #c1ccff;
  }
  .dabout{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 40px;
    color: #c1ccff;
  }
  .dcont{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    left: 60px;
    color: #c1ccff;
  }
    .headbtnlinetwo{
      display:none;      
    }
    .dheadbtnlinetwo{
      display:none;      
    }
    .App-logo2{
      height: 50px;
      pointer-events: none;
      position: relative;
      top:5px;
      right:45px;
    }
    .lightndark{
      position: relative;
      left: 45%;
      top: 15px;
      cursor: pointer;
    }
    .lightbtn{
      height: 35px;
      width: 35px;
      background-color: transparent;
      cursor: pointer;
      position:relative;
      right: 9px;
      bottom: 1px;
      animation: spinleft 100ms linear 0s 1;
      transition: 100ms ease-in-out 100ms;
      border: none;
    }
    .lightimg{
      height: 4vmin;
      pointer-events: none;
      position: relative;
      right:0px;
      top: 1px;
      animation: fadein 100ms linear 0s 1;
      transition: 100ms ease-in-out 100ms;
    }
    .darkbtn{
      height: 35px;
      width: 35px;
      background-color: transparent;
      cursor: pointer;
      position:relative;
      right: 10%;
      bottom: 1px;
      animation: spinright 100ms linear 0s 1;
      transition: 100ms ease-in-out 100ms;
      border: none;
    }
    .darkimg{
      height: 4vmin;
      pointer-events: none;
      position: relative;
      background-color: #e9e9e9;
      border-radius: 30px;
      right:0px;
      top: 1px;
      animation: fadein 100ms linear 0s 1;
      transition: 100ms ease-in-out 100ms;
      box-shadow: 0 0 1px #e9e9e9, 0 0 10px #e9e9e9, 0 0 15px #adb9ff, 0 0 20px #adb9ff;
    }  
}