/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900');
@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@300'); */

.Home{
    background-color: #F5F4F9;
    padding: 3px 10px 3px 10px;
    max-width: 100%;
    height: 100vh;
    padding-bottom: 0px;
    transition: 150ms ease-in-out 0ms;
    overflow-y: hidden;
}
.dHome{
    background-color: #050B1A;
    padding: 3px 10px 3px 10px;
    max-width: 100%;
    height: 100vh;
    padding-bottom: 0px;
    transition: 150ms ease-in-out 0ms;
    overflow-y: hidden;
}
.spliting{
    margin-top: 70px;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
}
.leftside{
    width:56%;
    position: relative;
    padding-top: 7%;
}
.headLineContainer{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    width: 26%;
    height: 60px;
    display: flex;
    align-items: center;
}
.headWrap{
    background: #e0e0e082;
    padding-top:8px;
    height: 30px;
    width: 100%;
    border-radius: 2px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.dheadWrap{
    background: #09004a71;
    padding-top:8px;
    height: 30px;
    width: 100%;
    border-radius: 2px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.headLine{
    transition: 150ms ease-in-out 0ms;
    animation: fadeUp 150ms ease-in-out;
    font-size: 13px;
    text-shadow: 0 3px 15px rgba(226, 118, 250, 0.718);
    background: linear-gradient(25deg, #e213fd 0%, #a024ff 50%, #870fff 100%);
    /* background: #ea48ff; */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}
.dheadLine{
    transition: 150ms ease-in-out 0ms;
    animation: fadeUp 150ms ease-in-out;
    font-size: 13px;
    text-shadow:  0 3px 15px rgba(108, 63, 245, 0.729);
    background: linear-gradient(25deg, #da90ff 0%, #8e4cff 50%, #7f58ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}
.TopLine{
    font-weight: 600;
    font-size: 74px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    height: 90px;
    width: 150%;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out 0ms;
    color: #050B1A;
    /* text-shadow: 0 3px 10px rgba(226, 118, 250, 0.386); */
}
.dTopLine{
    font-weight: 600;
    font-size: 74px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    height: 90px;
    width: 150%;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out 0ms;
    color:#F5F4F9;
    text-shadow: 0 4px 10px rgba(108, 63, 245, 0.386);
}
.LineThree{
    width: 105%;
    height: 58px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
    position: relative;
    text-shadow: 0 3px 15px rgba(226, 118, 250, 0.718);
    background: linear-gradient(25deg, #db05f7 0%, #a024ff 50%,#9122ff  100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.dLineThree{
    width: 105%;
    height: 58px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
    position: relative;
    text-shadow:  0 3px 15px rgba(108, 63, 245, 0.729);
    background: linear-gradient(25deg, #c552ff 0%, #833cfe 50%, #7221ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.LineFour{
    background: red;
    font-weight: 400;
    font-size: 16px;
    width: 85%;
    height: 83px;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
    position: relative;
    padding-top: 10px;
    color: #050b1ad4; /* Adjust this color to change intensity/style */
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.911) 40%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.911) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}
.dLineFour{
    background: red;
    font-weight: 400;
    font-size: 16px;
    width: 85%;
    height: 83px;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
    position: relative;
    padding-top: 10px;    
    color: #F5F4F9a4; /* Adjust this color to change intensity/style */
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}

.sidebuttons{
    display: flex;
    position: relative; 
    height: 60px;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
.downloadimg{    
  height: 15px;
  pointer-events: none;
  position: relative;
  transition: 150ms ease-in-out 0ms;
}
.donbtnhome{
    position: relative;
    width: 180px;
    height: 45px;
    background: rgba(196, 196, 196, 0.071);
    border-radius: 7px;
    box-shadow: 0 0 0px #01003a;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
    color: #1a1a1a; /* Adjust this color to change intensity/style */
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.911) 50%,
        rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:15px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
}
.dHome .donbtnhome{
    position: relative;
    width: 180px;
    height: 45px;
    background: rgba(146, 146, 146, 0.071);
    border-radius: 7px;
    box-shadow: 0 0 0px #d8d8d8;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
    color: #f5f4f9c5; /* Adjust this color to change intensity/style */
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.911) 50%,
        rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:15px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    transition: 150ms ease-in-out 0ms;
}
.Home .donbtnhome:hover,
.Home .donbtnhome:focus{
    color: #14005e;
    background: #d9cfff;
    transform: translateY(-2px);
}
.dHome .donbtnhome:hover,
.dHome .donbtnhome:focus{
    background: #d9cfff;
    color: #000620;
    transform: translateY(-2px);
}
.donbtnhome1{
    width: 180px;
    height: 45px;
    position: relative; 
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #c552ff 0%, #724bff 50%, #3c26ff 100%);
    box-shadow: 0 4px 20px rgba(226, 118, 250, 0.386);
    border: 1px solid rgb(155, 155, 155);
    cursor: pointer;
    transition: 150ms ease-in-out 0ms;
}
.Home .donbtnhome1:hover{
    background: linear-gradient(25deg, #d277ff 0%, #8563ff 50%, #5846ff 100%);
    box-shadow: 0 6px 28px rgba(226, 118, 250, 0.666);
    transform: translateY(-2px);
}

.dHome .donbtnhome1{
    width: 180px;
    height: 45px;
    position: relative; 
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #5d31ff 0%, #8929ff 50%, #9b06ec 100%);
    box-shadow: 0 4px 20px rgba(108, 63, 245, 0.386);
    border: 1px solid rgb(155, 155, 155);
    cursor: pointer;
    transition: 150ms ease-in-out 0ms;
}
.dHome .donbtnhome1:hover{
    background: linear-gradient(25deg, #693fff 0%, #943dff 50%, #a720f0 100%);
    box-shadow: 0 6px 28px rgba(108, 63, 245, 0.558);
    transform: translateY(-2px);
}
.seeWork{
  color: #F9F9F9;
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.dseeWork{
  color: #F9F9F9;
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.btnswarrow{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.rightside{
    width: 41%;
    justify-self: flex-end;
    position: relative;
}
.backer{
    width: 385px;
    height: 430px;
    background: linear-gradient(25deg, #df52ffcd 0%, #8548ffca 50%, #6e26ffc9 100%);
    border: 2px solid rgba(243, 243, 243, 0.861);
    box-shadow: 0 10px 20px rgba(165, 69, 255, 0.386);
    border-radius: 30% 18% 70% 18% / 30% 18% 70% 18%;
    backdrop-filter: blur(10px);
    transform: rotate(2deg);
    transition: 150ms ease-in-out 0ms;
    overflow: hidden;
    position: absolute;
    justify-self: center;
    bottom: 0;
    Z-index: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 3px;
}
.dbacker{
    width: 385px;
    height: 430px;
    background: linear-gradient(35deg, #c552ff77 0%, #a24bff7b 50%, #3c26ffca 100%);
    border: 2px solid rgba(240, 240, 240, 0.76);
    box-shadow: 0 10px 20px rgba(165, 69, 255, 0.386);
    border-radius: 30% 18% 70% 18% / 30% 18% 70% 18%;
    backdrop-filter: blur(10px);
    transform: rotate(2deg);
    transition: 150ms ease-in-out 0ms;
    overflow: hidden;
    position: absolute;
    justify-self: center;
    bottom: 0;   
    Z-index: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 3px;
}
.homeImg{
    display: block;
    position: relative;
    width: 390px;
    height: auto;
    transform: rotate(-2deg);
    /* opacity: 0.4; */
}
.homeImgCont{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
    align-items: end;
    padding-bottom: 3px;

}

.homeImgOut{
    display: block;
    position: relative;
    width: 390px;
    height: auto;
    opacity: 1;
    mask-image: linear-gradient(to top, transparent 0%, black 15%);
}






@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Haven't worked on code past this line */


  


@keyframes fadein {
    from{
        position: inherit;
        opacity: 1;
    }
    to{
        position: inherit;
        opacity: 0;
    }
  }

@media screen and (max-width:526px) {
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 210px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 490px;
        position: relative;
        top: -260px;
        left: -10%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 490px;
        position: relative;
        top: -280px;
        left: -10%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
    }
    .LineThree{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:6400;
        font-size:5px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
      .dTopLine{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 300px;
        left: 10%;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .whatlink{
        position: relative; top:-10px; left:20px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    
    .downloadimg{    
        height: 4vmin;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
    }
    .whatsappimg{
        height: 5vmin;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
    }
    .lonerlogo{
        height: 170vmin;
        padding-right: -200px;
        pointer-events: none;
        position: absolute;
        top:-150px;
        right: 0px;
        margin-right: -190px;
        overflow-x:hidden;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 150ms ease-in-out 0ms;
      }
    .dlonerlogo{
        height: 170vmin;
        padding-right: -200px;
        pointer-events: none;
        position: absolute;
        top:-150px;
        right: 0px;
        margin-right: -190px;
        overflow-x:hidden;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 150ms ease-in-out 0ms;

      }
}
@media screen and (max-width:692px) and (min-width:526px) {    
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 220px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -285px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -285px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
    }
    .LineThree{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
      .dTopLine{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
    }
    .lonerlogo{
        height: 150vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -170px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 150ms ease-in-out 0ms;
      }
    .dlonerlogo{
        height: 150vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -170px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 150ms ease-in-out 0ms;

      }
}
@media screen and (max-width:840px) and (min-width:692px) {    
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 310px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
    }
    .LineThree{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
      .dTopLine{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
    }
    .lonerlogo{
        height: 110vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -90px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 150ms ease-in-out 0ms;
      }
    .dlonerlogo{
        height: 110vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -90px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 150ms ease-in-out 0ms;

      }
}
@media screen and (max-width:992px) and (min-width:840px) {
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 150ms ease-in-out 0ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 310px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 150ms ease-in-out 0ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
    }
    .LineThree{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
      .dTopLine{
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 70px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 15px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 150ms ease-in-out 0ms;
        position: relative;
        top: 5px;
        left: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 150ms ease-in-out 0ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
        transition: 150ms ease-in-out 0ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
    }
    .lonerlogo{
        height: 120vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -20px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 150ms ease-in-out 0ms;
      }
    .dlonerlogo{
        height: 120vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -20px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 150ms ease-in-out 0ms;

      }
}