/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900');
@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@300'); */

.Home{
    background-color: #3272a0;
    padding: 1rem;
    max-width: 100%;
    height: 85vh;
    padding-bottom: 0px;
    transition: 100ms ease-in-out 100ms;
    overflow-y: hidden;
}
.dHome{
    background-color: #010327;
    padding: 1rem;
    max-width: 100%;
    height: 85vh;
    padding-bottom: 0px;
    transition: 100ms ease-in-out 100ms;
    overflow-y: hidden;
}
.spliting{
    display: flex;
    margin-left: 50px;
    position: relative;
    height: 85vh;
}

.leftside{
    align-self: center;
    width:50%;
    position: relative;
    top: 15px;
    left: 20px;
}
.rightside{
    width: 50%;
    justify-self: flex-end;
    position: relative;
}
.backer{
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 80%;
    height: 30.8em;
    right: 50px;
    bottom: 10px;    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    overflow-y: visible;
    transition: 100ms ease-in-out 100ms;
    border: 0px solid rgba(12, 0, 66, 0.76);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
    background-color: #7cc4f896;

}
.dbacker{
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 80%;
    height: 30.8em;
    right: 50px;
    bottom: 10px;    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    overflow-y: visible;
    transition: 100ms ease-in-out 100ms;
    border: 0px solid rgba(194, 194, 194, 0.76);
    box-shadow: 0 0 8px #adadadcb;  
    background-color: rgba(1, 0, 7, 0.514);
}
.backer:hover,
.dbacker:hover{
    backdrop-filter: blur(50px);
}

.imager{
    width: 70%;
}

.overflower{
    overflow-y: visible;
}
  .image_actual_one{
    bottom: 5px;
    filter: drop-shadow(16px 7px 8px #000108);
    transition: 350ms ease-in-out 100ms; 
  }
  .image_actual{
    bottom: 30px;
    filter: drop-shadow(16px 7px 8px #000108);
    transition: 350ms ease-in-out 100ms;    
  }
  .great-positioner{
    left: 20%;
    overflow-x: hidden;
  }
.TopLine{
    text-shadow: 0 0 3px #697ff8;
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 80px;
    color: #d8d8d8da;
    /* animation: fadein 300ms linear 0s 1; */
    width:130%;

        background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}
.LineThree{
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 15px;
    left: 15px;
    /* font-family: ''; */
    font-weight: 400;
    font-size: 20px;
    /* color: #d8d8d8; */
    /* animation: fadein 300ms linear 0s 1; */
    width:130%;

        color: #d8d8d8a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}
.LineFour{
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 5px;
    left: 15px;
    /* font-family: ''; */
    font-weight: 400;
    font-size: 20px;
    /* color: #d8d8d8; */
    /* animation: fadein 300ms linear 0s 1; */
    width:130%;

    color: #d8d8d8a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}
  .dTopLine{
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 20px;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 80px;
    color:#fafafaa6;
    animation: swipein 1s linear 0s 1;
    width:130%;
    text-shadow: 0 0 3px #adb9ffc7;

      background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}

.writer{
    font-weight: 900;
    font-size: 20px;
    color: green;
    position: absolute;
}

.dLineThree{
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 15px;
    left: 15px;
    /* font-family: ''; */
    font-weight: 400;
    font-size: 20px;
    /* color: #9caeff; */
    /* animation: fadein 300ms linear 0s 1; */
    width:130%;

    color: #fafafaa4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}
.dLineFour{
    transition: 100ms ease-in-out 100ms;
    position: relative;
    top: 5px;
    left: 15px;
    /* font-family: ''; */
    font-weight: 400;
    font-size: 20px;
    /* color: #9caeff; */
    /* animation: fadein 300ms linear 0s 1; */
    width:130%;

    color: #fafafaa4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}


.LineFour .levlink{
    color: #d8d8d8;
    margin-left: 10px;
    margin-right: 10px;
    transition: 100ms ease-in-out 100ms;
}
.dLineFour .levlink{
    color: #c1ccff;
    margin-left: 10px;
    margin-right: 10px;
    transition: 100ms ease-in-out 100ms;
}
.dLineFour .levlink:hover{
  color: #734cff;
} 
.LineFour .levlink:hover{
    color: #2f05ca;  
}
  
.sidebuttons{
    display: flex;
    position: relative; 
    top:10px;
}
.donbtnhome{
    position: relative; top:10px; left:10px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: rgba(196, 196, 196, 0.071);
    border-radius: 30px;
    box-shadow: 0 0 0px #01003a;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
            color: #ffffffb9; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
    font-size:15px;
    /* font-family:'Times New Roman', Times, serif; */
    transition: 100ms, ease-in-out, 100ms;
}
.dHome .donbtnhome{
    position: relative; top:10px; left:10px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: rgba(146, 146, 146, 0.071);
    border-radius: 30px;
    box-shadow: 0 0 0px #d8d8d8;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
            color: #d8d8d8a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
    font-size:15px;
    /* font-family:'Times New Roman', Times, serif; */
    transition: 100ms, ease-in-out, 100ms;
}

.Home .donbtnhome:hover,
.Home .donbtnhome:focus{
    color: #14005e;
    background: #d9cfff;
    transition: 100ms ease-in-out 100ms;

    
}
.dHome .donbtnhome:hover,
.dHome .donbtnhome:focus{
    background: #d9cfff;
    color: #000620;
    transition: 100ms ease-in-out 100ms;
}
.donbtnhome1{
    position: relative; top:10px; left:50px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: rgba(196, 196, 196, 0.071);
    border-radius: 30px;
    box-shadow: 0 0 0px #01003a;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
                color: #ffffffb9; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
    font-size:15px;
    /* font-family:'Times New Roman', Times, serif; */
    transition: 100ms, ease-in-out, 100ms;
}

.Home .donbtnhome1:hover,
.Home .donbtnhome1:focus{
    background: #d9cfff;
    color: #14005e;
    transition: 100ms ease-in-out 100ms;
}

.dHome .donbtnhome1{
    position: relative; top:10px; left:50px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: rgba(146, 146, 146, 0.071);
    border-radius: 30px;
    box-shadow: 0 0 0px #d8d8d8;
    border: 2px solid rgb(155, 155, 155);
    backdrop-filter: blur(50px);
    cursor: pointer;
                color: #d8d8d8b9; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
    font-size:15px;
    /* font-family:'Times New Roman', Times, serif; */
    transition: 100ms, ease-in-out, 100ms;
}

.dHome .donbtnhome1:hover,
.dHome .donbtnhome1:focus{
    background: #d9cfff;
    color: #000620;
    transition: 100ms ease-in-out 100ms;
}
.downloadimg{    
  height: 2vmin;
  pointer-events: none;
  position: relative;
  top:0px;
  left:10px;
  animation: fadein 300ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
}
.whatsappimg{
    height: 3vmin;
    pointer-events: none;
    position: relative;
    top:-10px;
    left:10px;
    margin-bottom: -15px;
    animation: fadein 300ms linear 0s 1;
    transition: 100ms ease-in-out 100ms;
}
@keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  @keyframes  swipein {
    0%{       
        text-shadow:  0 0 5px #adb9ff15, 0 0 6px #adb9ff15, 0 0 7px #adb9ff15, 0 0 8px #adb9ff15, 0 0 9px #adb9ff15;
        background: #010327;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15%{
        text-shadow:   0 0 5px #adb9ff44, 0 0 6px #adb9ff44, 0 0 7px #adb9ff44, 0 0 8px #adb9ff44, 0 0 9px #adb9ff44;          
        background: linear-gradient(to right, #2d54ff, #2d54ff 15%, white calc(15% + 1px), white calc(15% + 10px), #010327 calc(15% + 10px), #010327 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        text-shadow:   0 0 5px #adb9ff79, 0 0 6px #adb9ff79, 0 0 7px #adb9ff79, 0 0 8px #adb9ff79, 0 0 9px #adb9ff79;          
        background: linear-gradient(to right, #2d54ff, #2d54ff 30%, white calc(30% + 1px), white calc(30% + 10px), #010327 calc(30% + 10px), #010327 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    45%{
        text-shadow:   0 0 5px #adb9ff94, 0 0 6px #adb9ff94, 0 0 7px #adb9ff94, 0 0 8px #adb9ff94, 0 0 9px #adb9ff94;          
        background: linear-gradient(to right, #2d54ff, #2d54ff 45%, white calc(45% + 1px), white calc(45% + 10px), #010327 calc(45% + 10px), #010327 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60%{
        text-shadow:   0 0 5px #adb9ffaf, 0 0 6px #adb9ffaf, 0 0 7px #adb9ffaf, 0 0 8px #adb9ffaf, 0 0 9px #adb9ffaf;          
        background: linear-gradient(to right, #2d54ff, #2d54ff 60%, white calc(60% + 1px), white calc(60% + 10px), #010327 calc(60% + 10px), #010327 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75%{
        text-shadow:   0 0 5px #adb9ffb2, 0 0 6px #adb9ffb2, 0 0 7px #adb9ffb2, 0 0 8px #adb9ffb2, 0 0 9px #adb9ffb2;          
        background: linear-gradient(to right, #2d54ff, #2d54ff 75%, white calc(75% + 1px), white calc(75% + 10px), #010327 calc(75% + 10px), #010327 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90%{       
        color: #2d54ff;
        text-shadow: 0 0 5px #adb9ffbe, 0 0 6px #adb9ffbe, 0 0 7px #adb9ffbe, 0 0 8px #adb9ffbe, 0 0 9px #adb9ffbe;
    }
    100%{
        text-shadow: inherit;
    }
  }
@keyframes fadein {
    from{
        position: inherit;
        opacity: 1;
    }
    to{
        position: inherit;
        opacity: 0;
    }
  }

@media screen and (max-width:526px) {
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 210px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 490px;
        position: relative;
        top: -260px;
        left: -10%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 490px;
        position: relative;
        top: -280px;
        left: -10%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineThree{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight:6400;
        font-size:5px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
      .dTopLine{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 300px;
        left: 10%;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .whatlink{
        position: relative; top:-10px; left:20px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    
    .downloadimg{    
        height: 4vmin;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
        animation: fadein 300ms linear 0s 1;
    }
    .whatsappimg{
        height: 5vmin;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
        animation: fadein 300ms linear 0s 1;
    }
    .lonerlogo{
        height: 170vmin;
        padding-right: -200px;
        pointer-events: none;
        position: absolute;
        top:-150px;
        right: 0px;
        margin-right: -190px;
        overflow-x:hidden;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 100ms ease-in-out 100ms;
      }
    .dlonerlogo{
        height: 170vmin;
        padding-right: -200px;
        pointer-events: none;
        position: absolute;
        top:-150px;
        right: 0px;
        margin-right: -190px;
        overflow-x:hidden;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 100ms ease-in-out 100ms;

      }
}
@media screen and (max-width:692px) and (min-width:526px) {    
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 220px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -285px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -285px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineThree{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
      .dTopLine{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 170px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
        animation: fadein 300ms linear 0s 1;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
        animation: fadein 300ms linear 0s 1;
    }
    .lonerlogo{
        height: 150vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -170px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 100ms ease-in-out 100ms;
      }
    .dlonerlogo{
        height: 150vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -170px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 100ms ease-in-out 100ms;

      }
}
@media screen and (max-width:840px) and (min-width:692px) {    
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 310px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineThree{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
      .dTopLine{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 190px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
        animation: fadein 300ms linear 0s 1;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
        animation: fadein 300ms linear 0s 1;
    }
    .lonerlogo{
        height: 110vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -90px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 100ms ease-in-out 100ms;
      }
    .dlonerlogo{
        height: 110vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -90px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 100ms ease-in-out 100ms;

      }
}
@media screen and (max-width:992px) and (min-width:840px) {
    .Home{
        background-color: #3272a0;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dHome{
        background-color: #010327;
        padding: 1rem;
        max-width: 100%;
        height: 85vh;
        padding-bottom: 0px;
        transition: 100ms ease-in-out 100ms;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .spliting{
        display:block;
    }
    .leftside{
        position: relative;
        top: 310px;
        left: -5%;
        z-index: 4;
        text-align: center;
        width: 75%;
    }
    .rightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(107, 107, 107, 0.76);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.685);  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        backdrop-filter: blur(1px);
    }
   .drightside{
        height: 510px;
        position: relative;
        top: -200px;
        left: -5%;
        z-index: 3;
        width: 100%;
        border: 0px solid rgba(194, 194, 194, 0.76);
        box-shadow: 0 0 8px #adadadcb;  
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px 10px 10px 10px;
        overflow-y: visible;
        transition: 100ms ease-in-out 100ms;
        background-color: rgba(1, 0, 7, 0.514);
        backdrop-filter: blur(1px);
    }
    .TopLine{
        text-shadow: 0 0 5px #001488, 0 0 10px #102abd, 0 0 15px #233fdf, 0 0 20px #697ff8, 0 0 25px #b2bcf7, 0 0 30px #d2d8f7;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #d8d8d8;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineThree{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight:6400;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
      .dTopLine{
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 70px;
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        color: #2d54ff;
        animation: flicker 500ms linear 0s 1;
        text-shadow: 0 0 5px #adb9ff, 0 0 10px #adb9ff, 0 0 15px #adb9ff, 0 0 20px #adb9ff, 0 0 25px #adb9ff, 0 0 30px #adb9ff;
    }
    
    
    .dLineThree{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 15px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 900;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .dLineFour{
        text-shadow: 0 0 5px #adb9ff, 0 0 6px #adb9ff, 0 0 7px #adb9ff, 0 0 8px #adb9ff, 0 0 9px #adb9ff, 0 0 10px #adb9ff;
        transition: 100ms ease-in-out 100ms;
        position: relative;
        top: 5px;
        left: 5px;
        /* font-family: ''; */
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: #00011e;
        /* animation: fadein 300ms linear 0s 1; */
    }
    .LineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .dLineFour .levlink{
        color: #2f1ddf;
        margin-left: 10px;
        margin-right: 10px;
        transition: 100ms ease-in-out 100ms;
    }
    .sidebuttons{
        display: flex;
        position: relative; 
        top:0px;
        width: 100%;
        left: 10%;
        justify-content: space-around;
    }
    .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome{
        position: relative; top:-10px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .whatlink{
        position: relative; top:-10px; left:50px;
    }
    .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(1, 0, 71, 0.719);
        border-radius: 30px;
        box-shadow: 0 0 0px #01003a;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #ffffff;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    .dHome .donbtnhome1{
        position: relative; top:0px; left:0px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background: rgba(235, 235, 255, 0.521);
        border-radius: 30px;
        box-shadow: 0 0 0px #d8d8d8;
        border: 2px solid rgb(155, 155, 155);
        backdrop-filter: blur(50px);
        cursor: pointer;
        color: #000133;
        font-size:15px;
        /* font-family:'Times New Roman', Times, serif; */
        transition: 100ms, ease-in-out, 100ms;
    }
    
    .downloadimg{    
        height: 20px;
        pointer-events: none;
        position: relative;
        top:1px;
        left:10px;
        animation: fadein 300ms linear 0s 1;
    }
    .whatsappimg{
        height: 25px;
        pointer-events: none;
        position: relative;
        top:-10px;
        left:10px;
        margin-bottom: -15px;
        animation: fadein 300ms linear 0s 1;
    }
    .lonerlogo{
        height: 120vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -20px;
        filter: drop-shadow(16px 7px 8px #020061);
        transition: 100ms ease-in-out 100ms;
      }
    .dlonerlogo{
        height: 120vmin;
        pointer-events: none;
        position: absolute;
        top:-130px;
        right: -20px;
        filter: drop-shadow(26px 7px 8px #000108);
        transition: 100ms ease-in-out 100ms;

      }
}