@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900');
@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@300');

.Portfolio{
    background-color: #3272a0;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    height: 87vh;
    transition: 100ms ease-in-out 100ms;
    overflow-y: auto;
  }
.dPortfolio{
    background-color: #010327;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    height: 87vh;
    transition: 100ms ease-in-out 100ms;
    overflow-y: auto;
}
.projectlister{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transition: 100ms ease-in-out 100ms;
    gap: 10px;
    padding: 10px 25px;
}
.dproject{
  padding: 3px 3px;
  font-variant: small-caps;
  background-color: #04003b17;
  backdrop-filter: blur(10px);
  overflow-wrap: break-word;
  height: 200px;
  width: 350px;
  border: 2px solid #a9a3ffdc;
  border-radius: 1px; 
  transition: 100ms ease-in-out 100ms;
  text-align: left;
  overflow-y: hidden;
}
.project{
  position:relative;
  background-color: #473affb4;
  backdrop-filter: blur(10px);
  overflow-wrap: break-word;
  height: 70vh;
  width: 65vh;
  border: 2px solid #04003b;
  border-radius: 1px; 
  transition: 100ms ease-in-out 100ms;
  text-align: left;
  overflow-y: hidden;
}

.dproject:hover,
.dproject:focus{
  background-color: #04003b;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0px, 0px, 15px, 0px;
  transition: 100ms ease-in-out 100ms;
  animation: wipe 200ms ease-in-out 150ms 1;
}
.project:hover,
.project:focus{
  background-color: #473aff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0px, 0px, 15px, 0px;
  transition: 100ms ease-in-out 100ms;
  animation: wipelight 200ms ease-in-out 150ms 1;
}
.image{
  height: 60%;
  width: 100%;
  border: #d8d8d8; 
  border-radius: 2px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
}
.projectname{
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  font-family:Arial, Helvetica, sans-serif;
  color:#010327;
  width: 100%;
  transition: 100ms ease-in-out 100ms;
}
.projectdesc{
  cursor: pointer;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#010327;
  transition: 100ms ease-in-out 100ms;
  width: 100%;
}
.dprojectname{
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  font-family:Arial, Helvetica, sans-serif;
  color:#d8d8d8;
  width: 100%;
  transition: 100ms ease-in-out 100ms;
}
.dprojectdesc{
  cursor: pointer;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#d8d8d8;
  transition: 100ms ease-in-out 100ms;
  width: 100%;
}
.complist{
  gap: 10px;
  justify-content: center;
}
.siteComponent{
  background-color: rgb(219, 219, 219);
  color: black;
  
}

@keyframes fadein {
    0%{
      opacity: 0;
  } 
  25%{
      opacity: 0.25;
  }
  50%{
      opacity: 0.5;
  }
  75%{
      opacity: 0.75;
  }
  100%{
      opacity: 1;
  }
}
@keyframes wipe{
  0%{
      background: linear-gradient(to top right, #b3b1cfec, #06005e, #06005e, #06005e, #06005e);
  } 
  25%{
      background: linear-gradient(to top right, #06005e, #b3b1cfec, #06005e, #06005e, #06005e);
  }
  50%{
      background: linear-gradient(to top right, #06005e, #06005e, #b3b1cfec, #06005e, #06005e);
  }
  75%{
      background: linear-gradient(to top right, #06005e, #06005e, #06005e, #b3b1cfec, #06005e);
  }
  100%{
      background: linear-gradient(to top right, #06005e, #06005e, #06005e, #06005e, #b3b1cfec);
  }
}
@keyframes wipelight{
  0%{
      background: linear-gradient(to top right, #b3b1cfec, #473aff, #473aff, #473aff, #473aff);
  } 
  25%{
      background: linear-gradient(to top right, #473aff, #b3b1cfec, #473aff, #473aff, #473aff);
  }
  50%{
      background: linear-gradient(to top right, #473aff, #473aff, #b3b1cfec, #473aff, #473aff);
  }
  75%{
      background: linear-gradient(to top right, #473aff, #473aff, #473aff, #b3b1cfec, #473aff);
  }
  100%{
      background: linear-gradient(to top right, #473aff, #473aff, #473aff, #473aff, #b3b1cfec);
  }
}

@media screen and (max-width:526px) {
  .projectlister{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transition: 100ms ease-in-out 100ms;
    padding-left: 20px;
}
  .dproject{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #04003b17;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 45%;
    border: 2px solid #473aff80;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .project{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #473aff81;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 45%;
    border: 2px solid #04003b;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .projectdesc{
    display: none;
  }
  .dprojectdesc{
    display: none;
  }
  .projectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#010327;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dprojectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#d8d8d8;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dproject:hover,
  .dproject:focus{
    background-color: #04003b;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipe 200ms ease-in-out 150ms 1;
}
.project:hover,
.project:focus{
    background-color: #473aff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipelight 200ms ease-in-out 150ms 1;
}
.image{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
}
.image:hover{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
  margin-bottom: 0px;
}
}
@media screen and (max-width:680px) and (min-width:526px) {
  .projectlister{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transition: 100ms ease-in-out 100ms;
    padding-left: 20px;
}
  .dproject{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #04003b17;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 45%;
    border: 2px solid #473aff80;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .project{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #473aff81;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 45%;
    border: 2px solid #04003b;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .projectdesc{
    display: none;
  }
  .dprojectdesc{
    display: none;
  }
  .projectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#010327;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dprojectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#d8d8d8;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dproject:hover,
  .dproject:focus{
    background-color: #04003b;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipe 200ms ease-in-out 150ms 1;
}
.project:hover,
.project:focus{
    background-color: #473aff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipelight 200ms ease-in-out 150ms 1;
}
.image{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
}
.image:hover{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
  margin-bottom: 0px;
}
}
@media screen and (max-width:840px) and (min-width:680px) {
  .projectlister{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transition: 100ms ease-in-out 100ms;
    padding-left: 20px;
}
  .dproject{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #04003b17;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 30%;
    border: 2px solid #473aff80;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .project{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #473aff81;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 30%;
    border: 2px solid #04003b;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .projectdesc{
    display: none;
  }
  .dprojectdesc{
    display: none;
  }
  .projectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#010327;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dprojectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#d8d8d8;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dproject:hover,
  .dproject:focus{
    background-color: #04003b;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipe 200ms ease-in-out 150ms 1;
}
.project:hover,
.project:focus{
    background-color: #473aff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipelight 200ms ease-in-out 150ms 1;
}
.image{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
}
.image:hover{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
  margin-bottom: 0px;
}
}
@media screen and (max-width:992px) and (min-width:840px) {
.projectlister{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transition: 100ms ease-in-out 100ms;
    padding-left: 20px;
}
  .dproject{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #04003b17;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 30%;
    border: 2px solid #473aff80;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .project{
    padding-right: 10px;
    position:relative;
    font-variant: small-caps;
    background-color: #473aff81;
    backdrop-filter: blur(10px);
    overflow-wrap: break-word;
    height: 20%;
    width: 30%;
    border: 2px solid #04003b;
    border-radius: 5px; 
    transition: 100ms ease-in-out 100ms;
    text-align: left;
    align-items: center;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
  }
  .projectdesc{
    display: none;
  }
  .dprojectdesc{
    display: none;
  }
  .projectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#010327;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dprojectname{
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#d8d8d8;
    text-align: left;
    height: 15px;
    transition: 100ms ease-in-out 100ms;
  }
  .dproject:hover,
  .dproject:focus{
    background-color: #04003b;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipe 200ms ease-in-out 150ms 1;
}
.project:hover,
.project:focus{
    background-color: #473aff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px, 0px, 15px, 0px;
    transition: 100ms ease-in-out 100ms;
    animation: wipelight 200ms ease-in-out 150ms 1;
}
.image{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
}
.image:hover{
  height: 75%;
  width: 90%;
  margin-left: 15px;
  margin-top: -5px;
  border: #d8d8d8; 
  border-radius: 5px;
  transition: 100ms ease-in-out 100ms;
  cursor: pointer;
  margin-bottom: 0px;
}
}